.white-advantages {
    background-color: var(--main-color);
}

.advantages {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 70px 200px 72px 222px;
    display: flex;
    background-color: var(--second-bg-color);
    color: var(--second-color);
}

.content-advantages {
    display: flex;
    flex-direction: column;

}

.content-advantages__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    margin-bottom: 25px;
}

.content-advantages__about {
    position: relative;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 35px;
}

.content-advantages__about::before,
.content-advantages__about::after {
    content: "";
    display: block;
    position: absolute;
    width: 43px;
    height: 2px;
    background-color: var(--second-color);
    bottom: 50%;
}

.content-advantages__about::before {
    left: 40%;
}

.content-advantages__about::after {
    right: 40%;
}

.content-advantages__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding: 0 120px;
    text-align: center;
    margin-bottom: 57px;
}

.content-advantages__list {
    display: flex;
    gap: 47px;
    margin-left: 10px;
}

.content-advantages__item {
    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding-top: 138px;
}

.content-advantages__item::before {
    content: '';
    position: absolute;
    display: inline-block;
    top: calc(50% - 63px);
    left: calc(50% - 16px);
    font-weight: 500;
    font-size: 57px;
    line-height: 1;
    text-align: center;
    color: var(--main-color);
    z-index: 99;
}

.content-advantages__item::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 122px;
    height: 122px;
    top: 0;
    right: calc(50% - var(--circle-size) / 2);
    border-radius: 50%;
    background-color: #23C7EC;
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--circle-size);
}

.content-advantages__item-one:before {
    content: '1';
}

.content-advantages__item-two:before {
    content: '2';
}

.content-advantages__item-three:before {
    content: '3';
}

.content-advantages__item-four:before {
    content: '4';
}

@media(max-width: 1420px) {
    .advantages {
        max-width: 1500px;
        padding-left: 95px;
        padding-right: 95px;
    }

    .content-advantages__description {
        padding: 0 100px;
    }
}

@media(max-width: 1310px) {
    .advantages {
        max-width: 1400px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .content-advantages__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 40px;
    }

    .content-advantages__description {
        padding: 0 80px;
    }

    .content-advantages__item {
        font-size: 16px;
        line-height: 22px;
        padding-top: 130px;
    }

    .content-advantages__item::after {
        width: 114px;
        height: 114px;
    }
}

@media(max-width: 1024px) {
    .advantages {
        max-width: 1050px;
        padding-top: 72px;
        padding-left: 55px;
        padding-right: 42px;
    }

    .content-advantages__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 23px;
    }

    .content-advantages__about {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 31px;
    }

    .content-advantages__about::before,
    .content-advantages__about::after {
        width: 40px;
    }

    .content-advantages__description {
        font-size: 16px;
        line-height: 23px;
        padding: 0 116px;
    }

    .content-advantages__list {
        gap: 53px;
        margin-left: 10px;
    }

    .content-advantages__item {
        font-size: 18px;
        line-height: 24px;
        padding-top: 132px;
    }

    .content-advantages__item::before {
        top: calc(50% - 65px);
        left: calc(50% - 15px);
        font-size: 52px;
        /* line-height: 73px; */
    }

    .content-advantages__item::after {
        width: 104px;
        height: 104px;
    }
}

@media(max-width: 925px) {
    .advantages {
        max-width: 970px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-advantages__title {
        font-size: 26px;
        line-height: 30px;
    }

    .content-advantages__description {
        padding: 0 65px;
    }

    .content-advantages__list {
        gap: 40px;
    }

    .content-advantages__item::before {
        top: calc(50% - 77px);
    }

    .content-advantages__item {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .advantages {
        max-width: 790px;
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .content-advantages__title {
        font-size: 22px;
        line-height: 28px;
    }

    .content-advantages__about {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .content-advantages__about::before,
    .content-advantages__about::after {
        width: 30px;
    }

    .content-advantages__about::before {
        left: 36%;
    }

    .content-advantages__about::after {
        right: 36%;
    }

    .content-advantages__description {
        font-size: 13px;
        line-height: 18px;
        padding: 0;
    }

    .content-advantages__list {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .content-advantages__item {
        max-width: 200px;
    }

    .content-advantages__item::before {
        top: calc(50% - 65px);
    }
}

@media(max-width: 480px) {
    .advantages {
        max-width: 510px;
        padding: 30px 5px 60px 5px;
    }

    .content-advantages__title {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 16px;
    }

    .content-advantages__about {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 26px;
    }

    .content-advantages__about::before,
    .content-advantages__about::after {
        width: 20px;
        height: 1px;
    }

    .content-advantages__about::before {
        left: 34%;
    }

    .content-advantages__about::after {
        right: 34%;
    }

    .content-advantages__description {
        font-size: 12px;
        line-height: 17px;
        padding: 0;
        margin-bottom: 40px;
    }

    .content-advantages__list {
        flex-direction: column;
        gap: 40px;
        padding-left: 60px;
        padding-right: 60px;
        align-content: center;
    }

    .content-advantages__item::before {
        line-height: 53px;
    }
}

@media(max-width: 320px) {
    .advantages {
        max-width: 320px;
        padding-bottom: 63px;
    }

    .content-advantages__about {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 26px;
    }

    .content-advantages__about::before {
        left: 27%;
    }

    .content-advantages__about::after {
        right: 27%;
    }

    /* .content-advantages__description {
        font-size: 12px;
        line-height: 17px;
        padding: 0;
        margin-bottom: 40px;
    } */

    .content-advantages__list {
        padding-left: 40px;
        padding-right: 50px;
        gap: 41px;
    }

    .content-advantages__item {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.9px;
        padding-top: 133px;
    }

    .content-advantages__item::before {
        line-height: 54px;
    }
}