.footer {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 47px 75px 45px 100px;
    background-color: #2F324B;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__block {
    display: flex;
    align-items: center;
    gap: 19px;
}

.footer__logo {
    width: 68px;
}

.footer__right {
    max-width: 127px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.footer__developer {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.footer__phone {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 28px;
    gap: 3px;
    padding: 1px;
}

.footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    margin: 0 auto;
}

.footer__phone-pic {
    display: none;
}

.footer__black {
    display: none;
}

@media(max-width: 1420px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 1310px) {
    .footer {
        padding: 37px 10px 45px 10px;
    }
}

@media(max-width: 1024px) {
    .footer {
        max-width: 1100px;
        padding-left: 20px;
        padding-right: 5px;
    }

    .footer__logo {
        width: 60px;
    }

    .footer__right {
        padding-top: 5px;
        font-size: 12px;
        line-height: 16px;
    }

    .footer__phone {
        font-size: 21px;
        line-height: 25px;
        gap: 6px;
        padding: 0;
    }

    .footer__link {
        font-size: 13px;
        line-height: 15px;
    }
}

@media(max-width: 768px) {
    .footer {
        padding: 25px 0 0 0;
    }

    .footer__content {
        margin-bottom: 23px;
    }

    .footer__black {
        display: flex;
        margin: 0 auto;
        background-color: #2A2C3F;
        height: 47px;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .footer__developer {
        display: none;
    }
}

@media(max-width: 480px) {
    .footer__logo {
        width: 30px;
    }

    .footer__right {
        max-width: 87.3px;
        font-size: 8px;
        line-height: 12px;
        padding-top: 0;
    }

    .footer__phone {
        display: none;
    }

    /* .footer__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration: underline;
        margin: 0 auto;
    } */

    .footer__phone-pic {
        display: flex;
    }
}

@media(max-width: 320px) {
    .footer {
        max-width: 320px;
        padding: 25px 5px 0 5px;
    }

    .footer__block {
        gap: 18px;
    }
}