@import 'global.css';
@import "home.css";
@import "advantages.css";
@import "contact.css";

:root {
    --main-color: #ffffff;
    --second-color: #383A4C;
    --second-bg-color: #F9F9F9;
    --circle-size: 122px;
}

@media(max-width: 1310px) {
    :root {
        --circle-size: 114px;
    }
}

@media(max-width: 1024px) {
    :root {
        --circle-size: 104px;
    }
}